<tr>
  <th scope='row'><%= user.id %></th>
  <td><%= user.username %></td>
  <td><%= user.email %></td>
  <% if policy(User).update? %>
    <td>
      <%= link_to "Edit", edit_user_path(user), class: 'btn btn-primary' %>
      <%= link_to "Access", access_user_path(user), class: 'btn btn-primary' %>
    </td>
  <% end %>
</tr>
