<tr>
  <th scope='row'><%= user.id %></th>
  <td><%= user.username %></td>
  <td><%= user.email %></td>
  <% if policy(User).update? %>
    <td>
    <div class="btn-group">
      <%= button_to "Edit", edit_user_path(user), method: :get, local: true, class: 'btn btn-primary' %>
      <%= button_to "Access", access_user_path(user), method: :get, local: true, class: 'btn btn-primary' %>
    </div>
    </td>
  <% end %>
</tr>
