<%= form_with(url: search_users_path, method: 'get') do |f| %>
  <%= f.text_field :search_key, value: @search_key %>
  <%= f.submit :Search %>
<% end %>

<table>
  <thead>
    <tr>
      <td>ID</td>
      <td>Username</td>
      <td>Email</td>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  <tbody>
</table>
