<%= form_with(url: search_users_path, method: :get, local: true, class: 'form-inline mt-1 mb-1') do |f| %>
  <div class='form-group'>
    <%= f.text_field :search_key, value: @search_key, class: 'form-control' %>
  </div>
  <%= f.submit :Get, class: 'btn btn-primary ml-1' %>
<% end %>

<%= form_with(url: search_users_path, class: 'form-inline mt-1 mb-1') do |f| %>
  <div class='form-group'>
    <%= f.text_field :search_key, value: @search_key, class: 'form-control' %>
  </div>
  <%= f.submit :Post, class: 'btn btn-primary ml-1' %>
<% end %>

<table class='table table-striped mt-1 mb-1'>
  <thead class='thead-dark'>
    <tr>
      <th scope='col'>ID</th>
      <th scope='col'>Username</th>
      <th scope='col'>Email</th>
    </tr>
  </thead>

  <tbody id="users">
    <%= render @users %>
  <tbody>
</table>
